body {
    background-color: rgb(247, 204, 210);
    text-align: center;
}

p {
    font-family: sans-serif;
}

.menu-pic {
    width: 400px;
}

.mainImage {
    width: 1000px;
}

.flashy {
    font-style: italic;
    color: red;
}
.best {
    text-decoration: underline;
}

div.vanilla {
    background-color: rgb(207, 141, 177);
}